# Default ignored files
__pycache__/
conjunto_de_datos/
*.pyo
*.csv
*.pyc
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
